<div class="my-5 px-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="_title text-red text-center mb-4">
                    J'ai déjà un compte
                </div>

                {% if error != null %}
                    <div class="alert alert-danger">
                        {% if error.message == "Bad credentials." %}
                            Données invalides
                        {% else %}
                            {{ error.message }}
                        {% endif %}                        
                    </div>
                {% endif %}

                <form action="{{ path("login") }}" method="POST" class="my-5">
                    <div class="form-group">
					    <label for="username">Email:</label>
					    <br/>
					    <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
				    </div>
				    <div class="form-group">
					    <label for="password">Mot de Passe:</label>
					    <br/>
					    <input type="password" id="password" name="_password" class="form-control"/>
                    </div>
                    <div class="text-right">
                        <a href="{{ path("password_reset_request") }}" class="link-text-gray text-underlined">Mot de passe oublié</a>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="remember_me"/> Se rappeler de mon identifiant
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-outline-danger">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>