<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Réinitialisez votre mot de passe - Cible RH Emploi</title>
</head>
<body>
    <div>Salut,</div>
    <p>
        Vous recevez cet email parce que vous avez émis une requête pour
        réinitialiser le mot de passe de votre compte Cible RH Emploi. Si 
        vous n'êtes pas à l'origine de cette requête, ignorez simplement ce message.
        Dans le cas contraire, veuillez cliquer sur le lien suivant:
        <br>
        <a target="_blank" rel="noopener noreferrer" href="{{ url("password_reset",{'token' : token }) }}">
            {{ url("password_reset",{'token' : token }) }}
        </a>
    </p>
</body>
</html>